# Ignore files for distribution archives.

.ahoy.yml          export-ignore
.circleci          export-ignore
.devtools          export-ignore
.editorconfig      export-ignore
.gitattributes     export-ignore
.github            export-ignore
.gitignore         export-ignore
.gitlab-ci.yml     export-ignore
.logs              export-ignore
.twig-cs-fixer.php export-ignore
Makefile           export-ignore
build              export-ignore
codecov.yml        export-ignore
composer.dev.json  export-ignore
package-lock       export-ignore
phpcs.xml          export-ignore
phpmd.xml          export-ignore
phpunit.d10.xml    export-ignore
phpunit.xml        export-ignore
phpstan.neon       export-ignore
rector.php         export-ignore
renovate.json      export-ignore
tests              export-ignore
